<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskBlog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}" />
</head>
<body>
    <h1>Welcome to the fantastic login screen</h1>
    <p>Here's some more text, lorem ipsum</p>

    <!-- Put your request details here, don't commit to the repo -->
    <a href="https://www.streamlabs.com/api/v1.0/authorize?client_id=??&redirect_uri=??&response_type=code&scope=donations.read+donations.create+socket.token">Sign into stream labs</a>
</body>
</html>
